*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
.navImage{
    width: 25px;
    
}

nav{
    padding: 1px 4%;
    display: flex;
    background-color: #eae6e6;
    justify-content: space-between;
    align-items: center;
    
}
nav ul{
    display: flex;
    text-decoration: none;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    padding: 15px;
    font-size: 12px;
    font-weight: 500;
    transition: 0.2 ease-in;
    
}
nav ul li a:hover{
    color:#bcb9b9;
}
.secNavImg{
    width: 25px;
}
.search{
    width: 20px;
    position:relative;
    right:-35px;
    top: 5px;
}
.nikeLogo{
    width: 70px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    align-items: center;
}
 div ul{
    display: flex;
 }
div ul li {
    list-style: none;
}
 div ul li a{
    text-decoration: none;
    color: #000;
    padding: 15px;
    font-size: 16px;
    font-weight:500;
    transition: 0.5 ease    ;
    margin-right: 15px;
    align-items: center;
 }
 div ul li a:hover{
    text-decoration: underline;
 }
 .rightNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    /* border: 2px solid red; */
 }
 .leftNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
 }

.favBag{
    display: flex;
    gap: 35%;
align-items: center;
}
input{
    
    height: 35px;
    width: 170px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding-left: 40px;
    background-color: #f0f0f0;
}
input:hover{
    background-color: #bbb7b7;
}

.crouselImage img{
    width: 100%;
    height: 100%;
}
.midImage{
    margin-top: 1%;
}
.midContain{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:3% 0;
}
.midContain p{
    font-size: 16px;
    font-weight: 500;
    font-family: Helvetica;
    text-align: center;
  font-family: Arial, sans-serif; 
  line-height: 1.5; 
  margin:0 5px; 
  color: #000; 
}
.midContain h1{
    font-family: "Nike Futura ND";
    font-size: 76px;
    text-align: center;                    
    font-weight: 400;          
    line-height: 1;        
    color: #000;
    margin: 0 auto;              
    max-width: 600px; 
}
.button{
    margin-top: 2%;
    padding: 10px 16px;
    border-radius: 50px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.midContain button:hover{
    background-color: #00000064;
}
.imgSection{
    display: flex;
    flex-wrap: wrap;
}
.imgSection img{
    width: 50%;
    height: 70vh;
}
.arrivals{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}
.arrivals h1{
      font-family: "Nike Futura ND";
      font-size: 48px;
}

.arrivals p{
    
    font-size: 16px;
    line-height: 24px;
}
.hoodieImage img{
   width: 100%;
   height: 100%;
}
.classicShop{
    display: flex;
    flex-direction: column;
   
    padding: 4% 0 0 3%;
}
.classicShop h1{
    font-family: "Nike Futura ND";
    font-size: 48px;
}